<!doctype html>
<html lang="en">
<head>
    <title>PokéBench</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/pokemon-solid');
        @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
    </style>
</head>
<body>
    <h1>PokéBench</h1>
    <form method="post">
        <label>How much do you bench? (in pounds):</label><br>
        <input type="text" name="strength"><br><br>
        <label>Choose a Pokémon:</label><br>
        <input type="text" name="pokemon_name"><br><br>
        <input type="submit" value="Submit">
    </form>
    <div class="response-container">
        <p style="white-space: pre-line;">{{ result }}</p>
        {% if image_url %}
            <img src="{{ image_url }}" alt="Pokemon Image" style="width: 150px; height: 150px; margin-top: 20px;">
        {% endif %}
    </div>
</body>
</html>
